@import '../index';

.logo {
    font-family: $secondaryFont;
    display: flex;
    align-items: center;
    justify-content: flex;
    padding: 10px;
    cursor: pointer;

    .logo-image {
        font-size: 42px;
        margin-right: 8px;
    }

    .logo-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 23px;
        padding-top: 8px;
    
        .logo-title {
            color: $complementColor
        }

    }
}

#light .logo {

    .logo-image {
        color: $primaryDarkColor;
    }

    .logo-text-container {
        .logo-name {
            color: $primaryDarkColor;
        }
    
    }
}

#dark .logo {

    .logo-image {
        color: $primaryLightColor;
    }

    .logo-text-container {
        .logo-name {
            color: $primaryLightColor;
        }

    }
}

@media screen and (max-width: 1100px) {

            .logo-name {
              font-size: 20px;
            }
        
            .logo-title {
                font-size: 14px;
            }

}

@media screen and (max-width: 470px) {

    .logo {
        .logo-image {
            font-size: 36px;
        } 

        
      .logo-text-container {
        line-height: 18px;
      }
    }

    .logo-name {
        font-size: 18px;
      }
  
      .logo-title {
          font-size: 12px;
      }


}