@import '../index';

.logo {
    font-family: $secondaryFont;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 300px;

    .logo-image {
        font-size: 42px;
        color: $primaryLightColor;
        margin-right: 8px;
    }

    .logo-text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 23px;
        padding-top: 8px;

        .logo-name {
            color: $primaryLightColor;
        }
    
        .logo-title {
            color: #9d4edd;
        }

    }
}