@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap');

$primaryDarkColor:#232322;
$primaryLightColor: #F0F2F5;
$primaryFont: 'Roboto', sans-serif;
$secondaryFont: 'Poppins', sans-serif;